body
{
	/*background-image: url('../images/background.jpg');*/
	background: #e1e1e1;
}
#head
{
	text-align: center;
	background-color: rgba(0, 0, 0, 0.75);
}

#head h1, h2, h3
{
	padding: 10px;
	color: #45ad6d;
	font-family: exo, tahoma;
}

#container
{
	width: 80%;
	margin: 0 auto;
}

#innercontainer
{
	padding-top: 70px;
}
#form_holder {
	padding: 10px 0 0 10px;
	width: 400px;
	float: left;
}

#form_holder h3 {
	font-family: tahoma,verdana;
	background-color: #282830;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 14px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

#form_holder fieldset {
	background: #f3f3f3;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	position: relative;
	border: 0;
}

#form_holder fieldset:before {
	background-color: #fff;
	content: "";
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
}

#form_holder input {
	font-size: 14px;
}

#form_holder input[type="email"],
#form_holder input[type="password"] {
	border: 1px solid #dcdcdc;
	padding: 12px 10px;
	width: 340px;
}

#form_holder input[type="email"] {
	border-radius: 3px 3px 0 0;
}

#form_holder input[type="password"] {
	border-top: none;
	border-radius: 0px 0px 3px 3px;
}
#form_holder input[type="submit"] {
	background: #1dabb8;
	border-radius: 3px;
	color: #fff;
	float: right;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
	border:0;
	cursor: pointer;
}

#form_holder input[type="submit"]:hover { background: #198d98; }

#form_holder footer {
	font-size: 12px;
	margin-top: 16px;
	color: #45ad6d;
}

#form_holder footer a
{
	color: #45ad6d;
}
.info {
	background: #e5e5e5;
	border-radius: 50%;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin: 0 10px 0 0;
	text-align: center;
	width: 20px;
}

#or
{
	text-align: center;
	height: 40px;
	float: left;
	margin: 100px 65px 0 65px;
}

#or h2
{
	vertical-align: middle;
	padding: 6px;
}

#rightoptions
{
	float: right;
	background-color: #f2f2f2;
	width: 400px;
	height: 250px;
	margin-top: 10px;
	text-align: center;
}

#rightoptions div
{
	margin-top: 50px;
}
#rightoptions p
{
	margin: 20px 20px;
}
#rightoptions div a
{
	background-color: #232323;
	text-align: center;
	padding: 10px 40px 10px 40px;
}

#rightoptions div a:hover
{
	background-color: #121212;

}
